{% extends "base.html" %}

{% block title %}View RSS Feed Links{% endblock %}

{% block content %}
<div class="container">
    <h1 class="mt-5">View RSS Feed Links</h1>
    <table class="table mt-4">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">RSS Feed Link</th>
                <th scope="col">Search Term</th>
            </tr>
        </thead>
        <tbody>
            {% if links %}
                {% for link in links %}
                    <tr>
                        <th style="color: aliceblue;" scope="row">{{ loop.index }}</th>
                        <td style="color: aliceblue;"><a href="{{ link.search_link }}" target="_blank">{{ link.search_link }}</a></td>
                        <td style="color: aliceblue;">{{ link.search_term }}</td>
                    </tr>
                    
                {% endfor %}
            {% else %}
            <tr>
                <td colspan="3">No RSS feed links found.</td>
            </tr>
            {% endif %}
        </tbody>
    </table>
</div>
{% endblock %}
